.imgMapa {
  max-width: 100%;
  padding-top: 150px;
  align-items: center;
  padding-left: 650px;
}

.imgLugar{
  max-width: 10%;
  display: inline-block;
  margin-right: 80px;
}

.lugares{
  border-radius: 12px;
  padding-left: 650px; 
  padding-top: 300px; 
  padding-right: 250px;
}

.fila{
  margin-right: 0px;
  margin-left: 20px; 
}

.backgroundMapa {
  width: 100%;
  height: 1000px;
  margin: auto;
  padding-left: 300px;
  background-color: #fff;
}

.mapa {
  margin: 0 auto;
  text-align: right;
  justify-content: right;
  background: #fff;
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 100px; 
  width: 1000px;
  position: relative;
  border-radius: 10px;
}   

.mapa button {
  background: #98002F;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  justify-content: right;
  margin-left: 250px;
}

.greenSquare {
  width: 50px; 
  height: 50px; 
  background: #0acf56;
  border-radius: 10px;
  margin-left: 600px; 
  font-size: 35px;
  color: #000;
}

.redSquare {
  width: 50px; 
  height: 50px; 
  background: #CF0A0A;
  border-radius: 10px;
  margin-left: 300px; 
  margin-top: -50px; 
}

.purpleSquare {
  width: 50px; 
  height: 50px; 
  background: #d84ff0;
  border-radius: 10px;
  margin-left: 300px; 
  margin-top: -50px; 
}

.mapa-h2 {
  margin-left: 50px; 
  font-size: 35px;
  color: #000;
}

@media screen and (max-width: 1600px){
  .imgMapa {
    padding-left: 50px;
  }

  .mapa button {
    margin-left: 80px;
  }
  
  .greenSquare {
    width: 40px; 
    height: 40px; 
    margin-left: 80px; 
  }
  
  .redSquare {
    width: 40px; 
    height: 40px; 
    margin-left: 130px; 
  }
  
  .purpleSquare {
    width: 40px; 
    height: 40px; 
    margin-left: 220px; 
  }

  .mapa-h2 {
    font-size: 32px;
  }
}